<article sortable="dragSortOptions" ng-model="sentence" class="Sentence flex__item flex flex--xy" ng-init="sentence.editing = false;">

<div
  ng-init="word.dragged = false; hello = 'yo'; "
  sortable-item
  hm-dragstart="word.dragged = !word.dragged"
  hm-dragend="word.dragged = !word.dragged"
  class="WordUnit usn flex flex__direction--col"
  ng-repeat="word in sentence"
  {{hello ? "word.dragged" : "hello"}}
  >

  <!--{{word.dragged}}
  {{hello}}-->

  <div class="flex__item flex flex--xsa">
    <image
      class="wb-Shape"
      ng-class="{'wb-Shape--blank' : (word.shape == 'blank')}"
      ng-src="/images/Word/{{word.shape}}.png"
      hm-tap="sentence.editing = 'shapes'; currentWord($index)"
      hm-hold="sentence.editing = 'shapes'; currentWord($index)"
      hm-hold-opts="{holdThreshold: 1}"
      >
  </div>

  <input
    class="Word--editing"
    ng-class="{usn: sentence.editing !== 'words'}"
    ng-show="sentence.editing == 'words'"
    type="text"
    ng-model="word.text"
    value="{{word.text}}"
    size="{{trimInput(word.text.length)}}"
    >

  <input
    class="Word usn"
    ng-hide="sentence.editing == 'words'"
    sortable-item-handle
    type="text"
    ng-model="word.text"
    value="{{word.text}}"
    size="{{trimInput(word.text.length)}}"
    >



</div>
</article>