<div class="is100vw flex flex__direction--col" ui-view="labs">
    <div class="flex is100vh flex--stretch">
        <div class="is__background--c-blue flex__direction--col flex__item flex flex--xy">
            <h1 class="is__text--c-white">Move Words</h1>
            <img class="tutorial--gif" class="is100w--min" src="/images/Tutorials/whiteboard/move.gif">
        </div>
    </div>
    <div class="flex is100vh flex--stretch">
        <div class="is__background--c-blue flex__direction--col flex__item flex flex--xy">
            <h1 class="is__text--c-white">Add Words</h1>
            <img class="tutorial--gif" src="/images/Tutorials/whiteboard/add-word.gif">
        </div>
    </div>
    <div class="flex is100vh flex--stretch">
        <div class="is__background--c-blue flex__direction--col flex__item flex flex--xy">
            <h1 class="is__text--c-white">Edit Shapes</h1>
            <img class="tutorial--gif" src="/images/Tutorials/whiteboard/edit-shape.gif">
        </div>
    </div>

    <div class="flex is100vh flex--stretch">
        <div class="is__background--c-blue flex__direction--col flex__item flex flex--xy">
            <h1 class="is__text--c-white">Edit Text</h1>
            <img class="tutorial--gif" src="/images/Tutorials/whiteboard/edit-shape.gif">
        </div>
    </div>
</div>
<!--add 100vh when ios bug is fixed-->
