<section class="ml60 mr60">
    <h1 class="is__text--medium fyi__Oswald">
    for your information
    </h1>
    <article class="mb20">
        <p class="is__text--medium m0 is__text--c-twitter">
            Are you Manipulative Visual Language?
        </p>
        <p>
            MVL is our original name. grmmr is our new name. Green Bridge Education, Inc. is the parent non-profit company.
        </p>
    </article>

    <article class="mb20">
        <p class="is__text--medium m0 is__text--c-twitter">
            I'm looking for the non-profit organization. It's called Green Bridge or something.
        </p>
        <p>
            Green Bridge Education, Inc. is the name of the parent non-profit company behind grmmr.
        </p>
    </article>

    <article class="mb20">
        <p class="is__text--medium m0 is__text--c-twitter">
            Do you have samples?
        </p>
        <p>
            <!--

    //IDEA let client type in & submit email, automatically cc to person,
    send email of conf bwt two ppl

   We do and we'll get in touch with you -- what's your <input type="text" value="email"> email?<input type="submit">

   -->

            <!--

   //IDEA

   let client click on email, fade to left all TEXT, logo stay in same place

   ng-view to email

  i want grmmr samples because i (am a teacher, moved to London recently from India)

  please send the samples to this wonderful place
  (addrss)

  please email me at
  (barfoo@foobar.com)

  submit(thengotolanding)
-->

            We do. We just need an <a href="#">email</a> from you and some information.
        </p>
    </article>
    <a href=""></a>
