<ng-include src="'views/partials/nav.html'"></ng-include>
<ng-include src="'views/partials/landing/header.html'"></ng-include>
<section class="ml60 mr60">
    <h1 class="is__text--medium fyi__Oswald">
        Inventory.
    </h1>
    <h2>Get your kit checked out.</h2>
    <aside class="isw100 flex flex--xsb">
       <a class="inventory--box" href="https://drive.google.com/file/d/0B7PLb0c-R3ysYkJQNm1PVXdwV1U/view?usp=sharing">
           <div class="nerve__smack">
                <img src="https://api.fnkr.net/testimg/350x200/7ACFF0/FFF/?text=WHITEBOARD">
                <h3>
                    Checklist For
                    2D Chips
                </h3>
            </div>
        </a>
       <div class="nerve__smack">
            <img class="isw100" src="https://api.fnkr.net/testimg/350x200/7ACFF0/FFF/?text=HANDS ON">
            <h3>
                Checklist For 3D Blocks
            </h3>
            <h4 class="is__text--c-red">COMING SOON</h4>
        </div>
        <div></div>
    </aside>
    <h2>
      I'm missing some!
    </h2>
    <p>We lose stuff all the time too. <a href="mailto:us@green-bridge.org?Subject=Missing%20Shapes">Email us </a>and we'll help out!<p>

</section>