<ng-include src="'views/partials/nav.html'"></ng-include>
<ng-include src="'views/partials/landing/header.html'"></ng-include>
<section class="ml60 mr60">
    <h1 class="is__text--medium fyi__Oswald">
    real english skills can be learned from anywhere.
    </h1>
    <h2>use one of our staff to help you out.</h2>

    <article class="isw75rem--max mb40">
     <!-- Start Square Appointments Embed code --><script src="https://squareup.com/appointments/buyer/widget/99cd57bb-1045-4a81-a42a-12c4e09f11d5.js" ></script><!-- End Square Appointments Embed code -->
    </article>
    <ng-include src="'views/partials/landing/email.html'"></ng-include>
