<section class="is__flex flex__direction--row is100vw is100vh">
  <dl class="isw15rem flex--item">
    <dd draggable="true">Dragging</dd>
    <dd>Oranges</dd>
    <dd>Apples</dd>
    <dd>Bananas</dd>
    <dd>Blues</dd>
  </dl>
  <article class="flex__item flex--xy is__flex">
    <h1 draggable class="is__text--c-">
    <span draggable="true" ng-repeat="word in sentence">{{word.text}}</span></h1>
  </article>
  <dl class="isw15rem flex--item">
    <dd>Drag 'em here</dd>
    <dd>Yellow</dd>
    <dd>Purple</dd>
    <dd></dd>
  </dl>
</section>