<article sortable="dragSortOptions" ng-model="sentence" class="Sentence flex__item flex flex--xy" ng-init="sentence.editing = false;">

<div

  sortable-item
  class="WordUnit flex flex__direction--col"
  ng-repeat="word in sentence"
  >

  <image
      class="wb-Shape"
      ng-src="/images/Word/{{word.shape}}.png"
      hm-tap="sentence.editing = 'shapes'; currentWord($index)"
      >

  <input
    class="Word--editing"
    ng-show="sentence.editing == 'words'"
    type="text"
    ng-model="word.text"
    value="{{word.text}}"
    size="{{trimInput(word.text.length)}}">

  <input
    class="Word"
    ng-hide="sentence.editing == 'words'"
    sortable-item-handle
    type="text"
    ng-model="word.text"
    value="{{word.text}}"
    size="{{trimInput(word.text.length)}}">



</div>
</article>